
	code for sm_60
		Function : probe_half2
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0xf0c8000002570000 */
        /*0018*/                   S2R R2, SR_TID.X ;                            /* 0xf0c8000002170002 */
                                                                                 /* 0x001fd842fec20ff1 */
        /*0028*/                   XMAD.MRG R3, R0.reuse, c[0x0] [0x8].H1, RZ ;  /* 0x4f107f8000270003 */
        /*0030*/                   XMAD R2, R0.reuse, c[0x0] [0x8], R2 ;         /* 0x4e00010000270002 */
        /*0038*/                   XMAD.PSL.CBCC R0, R0.H1, R3.H1, R2 ;          /* 0x5b30011800370000 */
                                                                                 /* 0x001ff400fd4007ed */
        /*0048*/                   ISETP.GE.AND P0, PT, R0, c[0x0][0x158], PT ;  /* 0x4b6d038005670007 */
        /*0050*/                   NOP ;                                         /* 0x50b0000000070f00 */
        /*0058*/               @P0 EXIT ;                                        /* 0xe30000000000000f */
                                                                                 /* 0x081fc400fc2007f6 */
        /*0068*/                   SHL R3, R0, 0x5 ;                             /* 0x3848000000570003 */
        /*0070*/                   SHR R6, R3, 0x1e ;                            /* 0x3829000001e70306 */
        /*0078*/                   IADD R4, R3.reuse, R3 ;                       /* 0x5c10000000370304 */
                                                                                 /* 0x001f8800fca207f1 */
        /*0088*/                   ISCADD R2.CC, R3.reuse, c[0x0][0x140], 0x2 ;  /* 0x4c18810005070302 */
        /*0090*/                   SHR R5, R3, 0x1f ;                            /* 0x3829000001f70305 */
        /*0098*/                   IADD.X R3, R6, c[0x0][0x144] ;                /* 0x4c10080005170603 */
                                                                                 /* 0x001fc000fec007f0 */
        /*00a8*/                   IADD R4.CC, R4, c[0x0][0x148] ;               /* 0x4c10800005270404 */
        /*00b0*/                   LDG.E R6, [R2] ;                              /* 0xeed4200000070206 */
        /*00b8*/                   IADD.X R5, R5, c[0x0][0x14c] ;                /* 0x4c10080005370505 */
                                                                                 /* 0x001ec400f62007f2 */
        /*00c8*/                   LDG.E R28, [R2+0x4] ;                         /* 0xeed420000047021c */
        /*00d0*/                   LDG.E.U16 R7, [R4] ;                          /* 0xeed2200000070407 */
        /*00d8*/                   LDG.E.U16 R29, [R4+0x2] ;                     /* 0xeed220000027041d */
                                                                                 /* 0x001fc400f62007f1 */
        /*00e8*/                   LDG.E R8, [R2+0x8] ;                          /* 0xeed4200000870208 */
        /*00f0*/                   LDG.E.U16 R9, [R4+0x4] ;                      /* 0xeed2200000470409 */
        /*00f8*/                   LDG.E R10, [R2+0xc] ;                         /* 0xeed4200000c7020a */
                                                                                 /* 0x001ec400fe2007b1 */
        /*0108*/                   LDG.E.U16 R11, [R4+0x6] ;                     /* 0xeed220000067040b */
        /*0110*/                   LDG.E R12, [R2+0x10] ;                        /* 0xeed420000107020c */
        /*0118*/                   LDG.E.U16 R13, [R4+0x8] ;                     /* 0xeed220000087040d */
                                                                                 /* 0x001fc400f62007f1 */
        /*0128*/                   LDG.E R14, [R2+0x14] ;                        /* 0xeed420000147020e */
        /*0130*/                   LDG.E.U16 R15, [R4+0xa] ;                     /* 0xeed2200000a7040f */
        /*0138*/                   LDG.E R16, [R2+0x18] ;                        /* 0xeed4200001870210 */
                                                                                 /* 0x001ec400fe2007b1 */
        /*0148*/                   LDG.E.U16 R17, [R4+0xc] ;                     /* 0xeed2200000c70411 */
        /*0150*/                   LDG.E R18, [R2+0x1c] ;                        /* 0xeed4200001c70212 */
        /*0158*/                   LDG.E.U16 R19, [R4+0xe] ;                     /* 0xeed2200000e70413 */
                                                                                 /* 0x001fc400f62007f1 */
        /*0168*/                   LDG.E R20, [R2+0x20] ;                        /* 0xeed4200002070214 */
        /*0170*/                   LDG.E.U16 R21, [R4+0x10] ;                    /* 0xeed2200001070415 */
        /*0178*/                   LDG.E R24, [R2+0x24] ;                        /* 0xeed4200002470218 */
                                                                                 /* 0x001ec400fe2007b1 */
        /*0188*/                   LDG.E.U16 R25, [R4+0x12] ;                    /* 0xeed2200001270419 */
        /*0190*/                   LDG.E R26, [R2+0x28] ;                        /* 0xeed420000287021a */
        /*0198*/                   LDG.E.U16 R27, [R4+0x14] ;                    /* 0xeed220000147041b */
                                                                                 /* 0x001fcc00f62007f1 */
        /*01a8*/                   LDG.E R22, [R2+0x2c] ;                        /* 0xeed4200002c70216 */
        /*01b0*/                   LDG.E.U16 R23, [R4+0x16] ;                    /* 0xeed2200001670417 */
        /*01b8*/                   DEPBAR.LE SB5, 0xa ;                          /* 0xf0f0000034a70000 */
                                                                                 /* 0x0040c801fe800022 */
        /*01c8*/                   HFMA2 R7, R6, R7.H0_H0, RZ.H0_H0 ;            /* 0x5d007f9020770607 */
        /*01d0*/                   LDG.E R6, [R2+0x30] ;                         /* 0xeed4200003070206 */
        /*01d8*/                   HFMA2 R29, R28, R29.H0_H0, R7 ;               /* 0x5d00038021d71c1d */
                                                                                 /* 0x0040c800fe600fb1 */
        /*01e8*/                   LDG.E.U16 R7, [R4+0x18] ;                     /* 0xeed2200001870407 */
        /*01f0*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
        /*01f8*/                   HFMA2 R28, R8, R9.H0_H0, R29 ;                /* 0x5d000e802097081c */
                                                                                 /* 0x00408800f6600ff1 */
        /*0208*/                   LDG.E R8, [R2+0x34] ;                         /* 0xeed4200003470208 */
        /*0210*/                   LDG.E.U16 R9, [R4+0x1a] ;                     /* 0xeed2200001a70409 */
        /*0218*/                   HFMA2 R29, R10, R11.H0_H0, R28 ;              /* 0x5d000e0020b70a1d */
                                                                                 /* 0x001fcc00f6200ff1 */
        /*0228*/                   LDG.E R10, [R2+0x38] ;                        /* 0xeed420000387020a */
        /*0230*/                   LDG.E.U16 R11, [R4+0x1c] ;                    /* 0xeed2200001c7040b */
        /*0238*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
                                                                                 /* 0x001ecc01fe201032 */
        /*0248*/                   HFMA2 R28, R12, R13.H0_H0, R29 ;              /* 0x5d000e8020d70c1c */
        /*0250*/                   LDG.E R12, [R2+0x3c] ;                        /* 0xeed4200003c7020c */
        /*0258*/                   LDG.E.U16 R13, [R4+0x1e] ;                    /* 0xeed2200001e7040d */
                                                                                 /* 0x001ec401fe201022 */
        /*0268*/                   HFMA2 R29, R14, R15.H0_H0, R28 ;              /* 0x5d000e0020f70e1d */
        /*0270*/                   LDG.E R14, [R2+0x40] ;                        /* 0xeed420000407020e */
        /*0278*/                   LDG.E.U16 R15, [R4+0x20] ;                    /* 0xeed220000207040f */
                                                                                 /* 0x003fc402064007f3 */
        /*0288*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
        /*0290*/                   HFMA2 R28, R16, R17.H0_H0, R29 ;              /* 0x5d000e802117101c */
        /*0298*/                   LDG.E R16, [R2+0x44] ;                        /* 0xeed4200004470210 */
                                                                                 /* 0x003fc402044007b3 */
        /*02a8*/                   LDG.E.U16 R17, [R4+0x22] ;                    /* 0xeed2200002270411 */
        /*02b0*/                   HFMA2 R29, R18, R19.H0_H0, R28 ;              /* 0x5d000e002137121d */
        /*02b8*/                   LDG.E R18, [R2+0x48] ;                        /* 0xeed4200004870212 */
                                                                                 /* 0x0040c800fe6007b1 */
        /*02c8*/                   LDG.E.U16 R19, [R4+0x24] ;                    /* 0xeed2200002470413 */
        /*02d0*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
        /*02d8*/                   HFMA2 R29, R20, R21.H0_H0, R29 ;              /* 0x5d000e802157141d */
                                                                                 /* 0x00408800f6600ff1 */
        /*02e8*/                   LDG.E R20, [R2+0x4c] ;                        /* 0xeed4200004c70214 */
        /*02f0*/                   LDG.E.U16 R21, [R4+0x26] ;                    /* 0xeed2200002670415 */
        /*02f8*/                   HFMA2 R28, R24, R25.H0_H0, R29 ;              /* 0x5d000e802197181c */
                                                                                 /* 0x001fcc00f6200ff1 */
        /*0308*/                   LDG.E R24, [R2+0x50] ;                        /* 0xeed4200005070218 */
        /*0310*/                   LDG.E.U16 R25, [R4+0x28] ;                    /* 0xeed2200002870419 */
        /*0318*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
                                                                                 /* 0x001ecc01fe201032 */
        /*0328*/                   HFMA2 R28, R26, R27.H0_H0, R28 ;              /* 0x5d000e0021b71a1c */
        /*0330*/                   LDG.E R26, [R2+0x54] ;                        /* 0xeed420000547021a */
        /*0338*/                   LDG.E.U16 R27, [R4+0x2a] ;                    /* 0xeed2200002a7041b */
                                                                                 /* 0x001ec401fe201022 */
        /*0348*/                   HFMA2 R28, R22, R23.H0_H0, R28 ;              /* 0x5d000e002177161c */
        /*0350*/                   LDG.E R22, [R2+0x58] ;                        /* 0xeed4200005870216 */
        /*0358*/                   LDG.E.U16 R23, [R4+0x2c] ;                    /* 0xeed2200002c70417 */
                                                                                 /* 0x003fc402064007f3 */
        /*0368*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
        /*0370*/                   HFMA2 R29, R6, R7.H0_H0, R28 ;                /* 0x5d000e002077061d */
        /*0378*/                   LDG.E R6, [R2+0x5c] ;                         /* 0xeed4200005c70206 */
                                                                                 /* 0x003fc402044007b3 */
        /*0388*/                   LDG.E.U16 R7, [R4+0x2e] ;                     /* 0xeed2200002e70407 */
        /*0390*/                   HFMA2 R28, R8, R9.H0_H0, R29 ;                /* 0x5d000e802097081c */
        /*0398*/                   LDG.E R8, [R2+0x60] ;                         /* 0xeed4200006070208 */
                                                                                 /* 0x0040c800fe6007b1 */
        /*03a8*/                   LDG.E.U16 R9, [R4+0x30] ;                     /* 0xeed2200003070409 */
        /*03b0*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
        /*03b8*/                   HFMA2 R29, R10, R11.H0_H0, R28 ;              /* 0x5d000e0020b70a1d */
                                                                                 /* 0x00408800f6600ff1 */
        /*03c8*/                   LDG.E R10, [R2+0x64] ;                        /* 0xeed420000647020a */
        /*03d0*/                   LDG.E.U16 R11, [R4+0x32] ;                    /* 0xeed220000327040b */
        /*03d8*/                   HFMA2 R28, R12, R13.H0_H0, R29 ;              /* 0x5d000e8020d70c1c */
                                                                                 /* 0x001fcc00f6200ff1 */
        /*03e8*/                   LDG.E R12, [R2+0x68] ;                        /* 0xeed420000687020c */
        /*03f0*/                   LDG.E.U16 R13, [R4+0x34] ;                    /* 0xeed220000347040d */
        /*03f8*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
                                                                                 /* 0x001ecc01fe201032 */
        /*0408*/                   HFMA2 R29, R14, R15.H0_H0, R28 ;              /* 0x5d000e0020f70e1d */
        /*0410*/                   LDG.E R14, [R2+0x6c] ;                        /* 0xeed4200006c7020e */
        /*0418*/                   LDG.E.U16 R15, [R4+0x36] ;                    /* 0xeed220000367040f */
                                                                                 /* 0x001ec401fe201022 */
        /*0428*/                   HFMA2 R28, R16, R17.H0_H0, R29 ;              /* 0x5d000e802117101c */
        /*0430*/                   LDG.E R16, [R2+0x70] ;                        /* 0xeed4200007070210 */
        /*0438*/                   LDG.E.U16 R17, [R4+0x38] ;                    /* 0xeed2200003870411 */
                                                                                 /* 0x003fc402064007f3 */
        /*0448*/                   DEPBAR.LE SB5, 0x9 ;                          /* 0xf0f0000034970000 */
        /*0450*/                   HFMA2 R29, R18, R19.H0_H0, R28 ;              /* 0x5d000e002137121d */
        /*0458*/                   LDG.E R18, [R2+0x74] ;                        /* 0xeed4200007470212 */
                                                                                 /* 0x001fcc02e20007b3 */
        /*0468*/                   LDG.E.U16 R19, [R4+0x3a] ;                    /* 0xeed2200003a70413 */
        /*0470*/                   HFMA2 R31, R20, R21.H0_H0, R29 ;              /* 0x5d000e802157141f */
        /*0478*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
                                                                                 /* 0x0007d801e20007f3 */
        /*0488*/                   LDG.E R28, [R2+0x7c] ;                        /* 0xeed4200007c7021c */
        /*0490*/                   HFMA2 R24, R24, R25.H0_H0, R31 ;              /* 0x5d000f8021971818 */
        /*0498*/                   LDG.E R20, [R2+0x78] ;                        /* 0xeed4200007870214 */
                                                                                 /* 0x001fd400f6200f10 */
        /*04a8*/                   HFMA2 R24, R26, R27.H0_H0, R24 ;              /* 0x5d000c0021b71a18 */
        /*04b0*/                   LDG.E.U16 R21, [R4+0x3c] ;                    /* 0xeed2200003c70415 */
        /*04b8*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
                                                                                 /* 0x005f8400f6200f10 */
        /*04c8*/                   HFMA2 R24, R22, R23.H0_H0, R24 ;              /* 0x5d000c0021771618 */
        /*04d0*/                   LDG.E.U16 R29, [R4+0x3e] ;                    /* 0xeed2200003e7041d */
        /*04d8*/                   SHR R3, R0, 0x1d ;                            /* 0x3829000001d70003 */
                                                                                 /* 0x001fcc00fce007e6 */
        /*04e8*/                   ISCADD R2.CC, R0, c[0x0][0x150], 0x3 ;        /* 0x4c18818005470002 */
        /*04f0*/                   IADD.X R3, R3, c[0x0][0x154] ;                /* 0x4c10080005570303 */
        /*04f8*/                   DEPBAR.LE SB5, 0x7 ;                          /* 0xf0f0000034770000 */
                                                                                 /* 0x001fd801e2000f1d */
        /*0508*/                   HFMA2 R7, R6, R7.H0_H0, R24 ;                 /* 0x5d000c0020770607 */
        /*0510*/                   HFMA2 R8, R8, R9.H0_H0, R7 ;                  /* 0x5d00038020970808 */
        /*0518*/                   DEPBAR.LE SB5, 0x5 ;                          /* 0xf0f0000034570000 */
                                                                                 /* 0x001fd801e2000f16 */
        /*0528*/                   HFMA2 R11, R10, R11.H0_H0, R8 ;               /* 0x5d00040020b70a0b */
        /*0530*/                   HFMA2 R12, R12, R13.H0_H0, R11 ;              /* 0x5d00058020d70c0c */
        /*0538*/                   DEPBAR.LE SB5, 0x3 ;                          /* 0xf0f0000034370000 */
                                                                                 /* 0x001fd801e2000f06 */
        /*0548*/                   HFMA2 R15, R14, R15.H0_H0, R12 ;              /* 0x5d00060020f70e0f */
        /*0550*/                   HFMA2 R16, R16, R17.H0_H0, R15 ;              /* 0x5d00078021171010 */
        /*0558*/                   DEPBAR.LE SB5, 0x2 ;                          /* 0xf0f0000034270000 */
                                                                                 /* 0x003c5821e2c00f16 */
        /*0568*/                   HFMA2 R19, R18, R19.H0_H0, R16 ;              /* 0x5d00080021371213 */
        /*0570*/                   HFMA2 R19, R20, R21.H0_H0, R19 ;              /* 0x5d00098021571413 */
        /*0578*/                   HFMA2 R19, R28, R29.H0_H0, R19 ;              /* 0x5d00098021d71c13 */
                                                                                 /* 0x003fc400e0420f11 */
        /*0588*/                   HADD2.F32 R5, R19.H1_H1.reuse, -RZ.H0_H0 ;    /* 0x5d138000aff71305 */
        /*0590*/                   HADD2.F32 R4, R19.H0_H0, -RZ.H0_H0 ;          /* 0x5d130000aff71304 */
        /*0598*/                   STG.E.64 [R2], R4 ;                           /* 0xeedd200000070204 */
                                                                                 /* 0x001f8000ffe007ff */
        /*05a8*/                   EXIT ;                                        /* 0xe30000000007000f */
        /*05b0*/                   BRA 0x5b0 ;                                   /* 0xe2400fffff87000f */
        /*05b8*/                   NOP;                                          /* 0x50b0000000070f00 */
		..........


		Function : probe_independent8
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R6, SR_CTAID.X ;                          /* 0xf0c8000002570006 */
        /*0018*/                   S2R R0, SR_TID.X ;                            /* 0xf0c8000002170000 */
                                                                                 /* 0x001fd842fec20ff1 */
        /*0028*/                   XMAD.MRG R3, R6.reuse, c[0x0] [0x8].H1, RZ ;  /* 0x4f107f8000270603 */
        /*0030*/                   XMAD R0, R6.reuse, c[0x0] [0x8], R0 ;         /* 0x4e00000000270600 */
        /*0038*/                   XMAD.PSL.CBCC R6, R6.H1, R3.H1, R0 ;          /* 0x5b30001800370606 */
                                                                                 /* 0x001ff400fd4007ed */
        /*0048*/                   ISETP.GE.AND P0, PT, R6, c[0x0][0x158], PT ;  /* 0x4b6d038005670607 */
        /*0050*/                   NOP ;                                         /* 0x50b0000000070f00 */
        /*0058*/               @P0 EXIT ;                                        /* 0xe30000000000000f */
                                                                                 /* 0x001fd440fe2007f6 */
        /*0068*/                   SHL R0, R6, 0x3 ;                             /* 0x3848000000370600 */
        /*0070*/                   IADD R2, R0.reuse, R0 ;                       /* 0x5c10000000070002 */
        /*0078*/                   SHR R3, R0, 0x1f ;                            /* 0x3829000001f70003 */
                                                                                 /* 0x001fc040fe4207f6 */
        /*0088*/                   IADD R4.CC, R2.reuse, c[0x0][0x140] ;         /* 0x4c10800005070204 */
        /*0090*/                   IADD.X R5, R3.reuse, c[0x0][0x144] ;          /* 0x4c10080005170305 */
        /*0098*/                   IADD R2.CC, R2, c[0x0][0x148] ;               /* 0x4c10800005270202 */
                                                                                 /* 0x001fc400fe0007f6 */
        /*00a8*/                   LDG.E.U16 R7, [R4] ;                          /* 0xeed2200000070407 */
        /*00b0*/                   IADD.X R3, R3, c[0x0][0x14c] ;                /* 0x4c10080005370303 */
        /*00b8*/                   LDG.E.U16 R9, [R4+0x2] ;                      /* 0xeed2200000270409 */
                                                                                 /* 0x001ec400fe2007f0 */
        /*00c8*/                   SHR R6, R6, 0x1d ;                            /* 0x3829000001d70606 */
        /*00d0*/                   LDG.E.U16 R12, [R4+0x4] ;                     /* 0xeed220000047040c */
        /*00d8*/                   LDG.E.U16 R8, [R2] ;                          /* 0xeed2200000070208 */
                                                                                 /* 0x001fc400f62007b1 */
        /*00e8*/                   LDG.E.U16 R10, [R2+0x2] ;                     /* 0xeed220000027020a */
        /*00f0*/                   LDG.E.U16 R13, [R2+0x4] ;                     /* 0xeed220000047020d */
        /*00f8*/                   LDG.E.U16 R14, [R4+0x6] ;                     /* 0xeed220000067040e */
                                                                                 /* 0x001ec400fe2007b1 */
        /*0108*/                   LDG.E.U16 R16, [R2+0x6] ;                     /* 0xeed2200000670210 */
        /*0110*/                   LDG.E.U16 R17, [R4+0x8] ;                     /* 0xeed2200000870411 */
        /*0118*/                   LDG.E.U16 R18, [R2+0x8] ;                     /* 0xeed2200000870212 */
                                                                                 /* 0x001fc400f62007f1 */
        /*0128*/                   LDG.E.U16 R20, [R4+0xa] ;                     /* 0xeed2200000a70414 */
        /*0130*/                   LDG.E.U16 R21, [R2+0xa] ;                     /* 0xeed2200000a70215 */
        /*0138*/                   LDG.E.U16 R22, [R4+0xc] ;                     /* 0xeed2200000c70416 */
                                                                                 /* 0x001ef4001e2007b1 */
        /*0148*/                   LDG.E.U16 R24, [R2+0xc] ;                     /* 0xeed2200000c70218 */
        /*0150*/                   LDG.E.U16 R25, [R4+0xe] ;                     /* 0xeed2200000e70419 */
        /*0158*/                   LDG.E.U16 R26, [R2+0xe] ;                     /* 0xeed2200000e7021a */
                                                                                 /* 0x001fcc00fee00fe6 */
        /*0168*/                   IADD R4.CC, R0, c[0x0][0x150] ;               /* 0x4c10800005470004 */
        /*0170*/                   IADD.X R5, R6, c[0x0][0x154] ;                /* 0x4c10080005570605 */
        /*0178*/                   DEPBAR.LE SB5, 0x6 ;                          /* 0xf0f0000034670000 */
                                                                                 /* 0x001fd800fe0007f6 */
        /*0188*/                   XMAD.S16.S16 R7, R7, R8, RZ ;                 /* 0x5b037f8000870707 */
        /*0190*/                   XMAD.S16.S16 R7, R9, R10, R7 ;                /* 0x5b03038000a70907 */
        /*0198*/                   DEPBAR.LE SB5, 0x4 ;                          /* 0xf0f0000034470000 */
                                                                                 /* 0x001fd800fe0007f6 */
        /*01a8*/                   XMAD.S16.S16 R7, R12, R13, R7 ;               /* 0x5b03038000d70c07 */
        /*01b0*/                   XMAD.S16.S16 R7, R14, R16, R7 ;               /* 0x5b03038001070e07 */
        /*01b8*/                   DEPBAR.LE SB5, 0x2 ;                          /* 0xf0f0000034270000 */
                                                                                 /* 0x041fd800fec007e6 */
        /*01c8*/                   XMAD.S16.S16 R7, R17, R18, R7 ;               /* 0x5b03038001271107 */
        /*01d0*/                   XMAD.S16.S16 R7, R20, R21, R7 ;               /* 0x5b03038001571407 */
        /*01d8*/                   XMAD.S16.S16 R7, R22, R24, R7 ;               /* 0x5b03038001871607 */
                                                                                 /* 0x081fc400fec007f6 */
        /*01e8*/                   XMAD.S16.S16 R7, R25, R26, R7 ;               /* 0x5b03038001a71907 */
        /*01f0*/                   IADD32I R7, R7, 0x701c01c0 ;                  /* 0x1c0701c01c070707 */
        /*01f8*/                   LOP32I.AND R0, R7.reuse, 0x7ff ;              /* 0x040000007ff70700 */
                                                                                 /* 0x001fc400fe4007e5 */
        /*0208*/                   LEA.HI R7, R7, c[0x2][0x0], RZ, 0xa ;         /* 0x18577f8800070707 */
        /*0210*/                   IADD32I R6, R0, -0x1c0 ;                      /* 0x1c0fffffe4070006 */
        /*0218*/                   STG.E.64 [R4], R6 ;                           /* 0xeedd200000070406 */
                                                                                 /* 0x001f8000ffe007ff */
        /*0228*/                   EXIT ;                                        /* 0xe30000000007000f */
        /*0230*/                   BRA 0x230 ;                                   /* 0xe2400fffff87000f */
        /*0238*/                   NOP;                                          /* 0x50b0000000070f00 */
		..........


		Function : probe_shared32
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0xf0c8000002570000 */
        /*0018*/                   S2R R2, SR_TID.X ;                            /* 0xf0c8000002170002 */
                                                                                 /* 0x001fd842fec20ff1 */
        /*0028*/                   XMAD.MRG R3, R0.reuse, c[0x0] [0x8].H1, RZ ;  /* 0x4f107f8000270003 */
        /*0030*/                   XMAD R2, R0.reuse, c[0x0] [0x8], R2 ;         /* 0x4e00010000270002 */
        /*0038*/                   XMAD.PSL.CBCC R0, R0.H1, R3.H1, R2 ;          /* 0x5b30011800370000 */
                                                                                 /* 0x001ff400fd4007ed */
        /*0048*/                   ISETP.GE.AND P0, PT, R0, c[0x0][0x158], PT ;  /* 0x4b6d038005670007 */
        /*0050*/                   NOP ;                                         /* 0x50b0000000070f00 */
        /*0058*/               @P0 EXIT ;                                        /* 0xe30000000000000f */
                                                                                 /* 0x001f8400fc2007f6 */
        /*0068*/                   SHL R3, R0, 0x5 ;                             /* 0x3848000000570003 */
        /*0070*/                   SHR R6, R3, 0x1f ;                            /* 0x3829000001f70306 */
        /*0078*/                   IADD R2.CC, R3, c[0x0][0x148] ;               /* 0x4c10800005270302 */
                                                                                 /* 0x001f8800fc8207f1 */
        /*0088*/                   IADD R4, R3.reuse, R3 ;                       /* 0x5c10000000370304 */
        /*0090*/                   SHR R5, R3, 0x1f ;                            /* 0x3829000001f70305 */
        /*0098*/                   IADD.X R3, R6, c[0x0][0x14c] ;                /* 0x4c10080005370603 */
                                                                                 /* 0x001fc000fec007f0 */
        /*00a8*/                   IADD R4.CC, R4, c[0x0][0x140] ;               /* 0x4c10800005070404 */
        /*00b0*/                   LDG.E.S8 R26, [R2] ;                          /* 0xeed120000007021a */
        /*00b8*/                   IADD.X R5, R5, c[0x0][0x144] ;                /* 0x4c10080005170505 */
                                                                                 /* 0x001ec400f62007f2 */
        /*00c8*/                   LDG.E.S8 R24, [R2+0x1] ;                      /* 0xeed1200000170218 */
        /*00d0*/                   LDG.E.U16 R13, [R4] ;                         /* 0xeed220000007040d */
        /*00d8*/                   LDG.E.U16 R29, [R4+0x2] ;                     /* 0xeed220000027041d */
                                                                                 /* 0x001fc400f62007f1 */
        /*00e8*/                   LDG.E.S8 R25, [R2+0x2] ;                      /* 0xeed1200000270219 */
        /*00f0*/                   LDG.E.U16 R28, [R4+0x4] ;                     /* 0xeed220000047041c */
        /*00f8*/                   LDG.E.S8 R17, [R2+0x3] ;                      /* 0xeed1200000370211 */
                                                                                 /* 0x001ec400fe2007b1 */
        /*0108*/                   LDG.E.U16 R20, [R4+0x6] ;                     /* 0xeed2200000670414 */
        /*0110*/                   LDG.E.S8 R18, [R2+0x4] ;                      /* 0xeed1200000470212 */
        /*0118*/                   LDG.E.U16 R19, [R4+0x8] ;                     /* 0xeed2200000870413 */
                                                                                 /* 0x001fc400f62007f1 */
        /*0128*/                   LDG.E.S8 R10, [R2+0x5] ;                      /* 0xeed120000057020a */
        /*0130*/                   LDG.E.U16 R15, [R4+0xa] ;                     /* 0xeed2200000a7040f */
        /*0138*/                   LDG.E.S8 R12, [R2+0x6] ;                      /* 0xeed120000067020c */
                                                                                 /* 0x001ec400fe2007b1 */
        /*0148*/                   LDG.E.U16 R14, [R4+0xc] ;                     /* 0xeed2200000c7040e */
        /*0150*/                   LDG.E.S8 R11, [R2+0x7] ;                      /* 0xeed120000077020b */
        /*0158*/                   LDG.E.U16 R9, [R4+0xe] ;                      /* 0xeed2200000e70409 */
                                                                                 /* 0x001fc400f62007f1 */
        /*0168*/                   LDG.E.S8 R7, [R2+0x8] ;                       /* 0xeed1200000870207 */
        /*0170*/                   LDG.E.U16 R6, [R4+0x10] ;                     /* 0xeed2200001070406 */
        /*0178*/                   LDG.E.S8 R21, [R2+0x9] ;                      /* 0xeed1200000970215 */
                                                                                 /* 0x001fc400fe2007b1 */
        /*0188*/                   LDG.E.U16 R8, [R4+0x12] ;                     /* 0xeed2200001270408 */
        /*0190*/                   LDG.E.S8 R22, [R2+0xa] ;                      /* 0xeed1200000a70216 */
        /*0198*/                   LDG.E.U16 R16, [R4+0x16] ;                    /* 0xeed2200001670410 */
                                                                                 /* 0x001ed800fe0007f3 */
        /*01a8*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
        /*01b0*/                   XMAD.S16.S16 R23, R13, R26, RZ ;              /* 0x5b037f8001a70d17 */
        /*01b8*/                   LDG.E.U16 R13, [R4+0x14] ;                    /* 0xeed220000147040d */
                                                                                 /* 0x001f8400f62007f0 */
        /*01c8*/                   XMAD.S16.S16 R27, R29, R24, R23 ;             /* 0x5b030b8001871d1b */
        /*01d0*/                   LDG.E.S8 R23, [R2+0xb] ;                      /* 0xeed1200000b70217 */
        /*01d8*/                   LOP32I.AND R26, R26, 0xffff ;                 /* 0x0400000ffff71a1a */
                                                                                 /* 0x001f8400fe8007f0 */
        /*01e8*/                   LOP32I.AND R24, R24, 0xffff ;                 /* 0x0400000ffff71818 */
        /*01f0*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
        /*01f8*/                   XMAD.S16.S16 R27, R28, R25, R27 ;             /* 0x5b030d8001971c1b */
                                                                                 /* 0x001f8c00fe2007f1 */
        /*0208*/                   LOP32I.AND R25, R25, 0xffff ;                 /* 0x0400000ffff71919 */
        /*0210*/                   BFE R26, R26, 0x800 ;                         /* 0x3801000080071a1a */
        /*0218*/                   BFE R24, R24, 0x800 ;                         /* 0x3801000080071818 */
                                                                                 /* 0x001fc000fc2007f1 */
        /*0228*/                   XMAD.S16.S16 R28, R20, R17, R27 ;             /* 0x5b030d800117141c */
        /*0230*/                   BFE R25, R25, 0x800 ;                         /* 0x3801000080071919 */
        /*0238*/                   LOP32I.AND R17, R17, 0xffff ;                 /* 0x0400000ffff71111 */
                                                                                 /* 0x001fc400fe0007f4 */
        /*0248*/                   DEPBAR.LE SB5, 0x6 ;                          /* 0xf0f0000034670000 */
        /*0250*/                   XMAD.S16.S16 R28, R19, R18, R28 ;             /* 0x5b030e000127131c */
        /*0258*/                   LDG.E.S8 R19, [R2+0xd] ;                      /* 0xeed1200000d70213 */
                                                                                 /* 0x001fc000fe2007f0 */
        /*0268*/                   IADD3 R20, R25, R26, R24 ;                    /* 0x5cc00c0001a71914 */
        /*0270*/                   LDG.E.S8 R24, [R2+0xc] ;                      /* 0xeed1200000c70218 */
        /*0278*/                   LOP32I.AND R18, R18, 0xffff ;                 /* 0x0400000ffff71212 */
                                                                                 /* 0x001ed400fe0007b1 */
        /*0288*/                   LDG.E.U16 R25, [R4+0x18] ;                    /* 0xeed2200001870419 */
        /*0290*/                   BFE R17, R17, 0x800 ;                         /* 0x3801000080071111 */
        /*0298*/                   LDG.E.U16 R26, [R4+0x1a] ;                    /* 0xeed2200001a7041a */
                                                                                 /* 0x001fc000fea007e1 */
        /*02a8*/                   BFE R18, R18, 0x800 ;                         /* 0x3801000080071212 */
        /*02b0*/                   XMAD.S16.S16 R27, R15, R10, R28 ;             /* 0x5b030e0000a70f1b */
        /*02b8*/                   IADD3 R15, R18, R20, R17 ;                    /* 0x5cc008800147120f */
                                                                                 /* 0x001fc000fe2007f3 */
        /*02c8*/                   DEPBAR.LE SB5, 0x6 ;                          /* 0xf0f0000034670000 */
        /*02d0*/                   LDG.E.S8 R17, [R2+0xe] ;                      /* 0xeed1200000e70211 */
        /*02d8*/                   XMAD.S16.S16 R28, R14, R12, R27 ;             /* 0x5b030d8000c70e1c */
                                                                                 /* 0x001fc400fe0007b1 */
        /*02e8*/                   LDG.E.U16 R20, [R4+0x1c] ;                    /* 0xeed2200001c70414 */
        /*02f0*/                   LOP32I.AND R10, R10, 0xffff ;                 /* 0x0400000ffff70a0a */
        /*02f8*/                   LDG.E.U16 R18, [R4+0x1e] ;                    /* 0xeed2200001e70412 */
                                                                                 /* 0x001fc000f68007f0 */
        /*0308*/                   LOP32I.AND R27, R12, 0xffff ;                 /* 0x0400000ffff70c1b */
        /*0310*/                   LDG.E.S8 R12, [R2+0xf] ;                      /* 0xeed1200000f7020c */
        /*0318*/                   XMAD.S16.S16 R29, R9, R11, R28 ;              /* 0x5b030e0000b7091d */
                                                                                 /* 0x001ec400fe0007f1 */
        /*0328*/                   LDG.E.S8 R9, [R2+0x10] ;                      /* 0xeed1200001070209 */
        /*0330*/                   BFE R14, R10, 0x800 ;                         /* 0x3801000080070a0e */
        /*0338*/                   LDG.E.U16 R10, [R4+0x20] ;                    /* 0xeed220000207040a */
                                                                                 /* 0x001fc000fe8007f0 */
        /*0348*/                   BFE R28, R27, 0x800 ;                         /* 0x3801000080071b1c */
        /*0350*/                   DEPBAR.LE SB5, 0x7 ;                          /* 0xf0f0000034770000 */
        /*0358*/                   XMAD.S16.S16 R27, R6, R7, R29 ;               /* 0x5b030e800077061b */
                                                                                 /* 0x001f8400fc2007f1 */
        /*0368*/                   LDG.E.S8 R6, [R2+0x11] ;                      /* 0xeed1200001170206 */
        /*0370*/                   LOP32I.AND R7, R7, 0xffff ;                   /* 0x0400000ffff70707 */
        /*0378*/                   IADD3 R15, R28, R15, R14 ;                    /* 0x5cc0070000f71c0f */
                                                                                 /* 0x001fc000f66007f0 */
        /*0388*/                   LOP32I.AND R14, R11, 0xffff ;                 /* 0x0400000ffff70b0e */
        /*0390*/                   LDG.E.U16 R11, [R4+0x22] ;                    /* 0xeed220000227040b */
        /*0398*/                   XMAD.S16.S16 R31, R8, R21, R27 ;              /* 0x5b030d800157081f */
                                                                                 /* 0x001ec800fe0007b1 */
        /*03a8*/                   LDG.E.S8 R8, [R2+0x12] ;                      /* 0xeed1200001270208 */
        /*03b0*/                   BFE R28, R7, 0x800 ;                          /* 0x380100008007071c */
        /*03b8*/                   LDG.E.U16 R7, [R4+0x24] ;                     /* 0xeed2200002470407 */
                                                                                 /* 0x001fc400fe0007fd */
        /*03c8*/                   BFE R14, R14, 0x800 ;                         /* 0x3801000080070e0e */
        /*03d0*/                   IADD3 R27, R28, R15, R14 ;                    /* 0x5cc0070000f71c1b */
        /*03d8*/                   LDG.E.U16 R14, [R4+0x26] ;                    /* 0xeed220000267040e */
                                                                                 /* 0x001fcc00fe2007f0 */
        /*03e8*/                   LOP32I.AND R21, R21, 0xffff ;                 /* 0x0400000ffff71515 */
        /*03f0*/                   LDG.E.U16 R15, [R4+0x28] ;                    /* 0xeed220000287040f */
        /*03f8*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
                                                                                 /* 0x001fc000f6c007f0 */
        /*0408*/                   XMAD.S16.S16 R30, R13, R22, R31 ;             /* 0x5b030f8001670d1e */
        /*0410*/                   LDG.E.S8 R13, [R2+0x13] ;                     /* 0xeed120000137020d */
        /*0418*/                   XMAD.S16.S16 R30, R16, R23, R30 ;             /* 0x5b030f000177101e */
                                                                                 /* 0x001fc400fc2007b1 */
        /*0428*/                   LDG.E.S8 R16, [R2+0x14] ;                     /* 0xeed1200001470210 */
        /*0430*/                   LOP32I.AND R22, R22, 0xffff ;                 /* 0x0400000ffff71616 */
        /*0438*/                   LOP32I.AND R23, R23, 0xffff ;                 /* 0x0400000ffff71717 */
                                                                                 /* 0x001fcc00fe0007fd */
        /*0448*/                   BFE R21, R21, 0x800 ;                         /* 0x3801000080071515 */
        /*0450*/                   BFE R22, R22, 0x800 ;                         /* 0x3801000080071616 */
        /*0458*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
                                                                                 /* 0x001f9400fe2007f0 */
        /*0468*/                   XMAD.S16.S16 R25, R25, R24, R30 ;             /* 0x5b030f0001871919 */
        /*0470*/                   LDG.E.S8 R30, [R2+0x1f] ;                     /* 0xeed1200001f7021e */
        /*0478*/                   LOP32I.AND R28, R24, 0xffff ;                 /* 0x0400000ffff7181c */
                                                                                 /* 0x001fc000fe2007f1 */
        /*0488*/                   XMAD.S16.S16 R26, R26, R19, R25 ;             /* 0x5b030c8001371a1a */
        /*0490*/                   BFE R24, R23, 0x800 ;                         /* 0x3801000080071718 */
        /*0498*/                   IADD3 R27, R22, R27, R21 ;                    /* 0x5cc00a8001b7161b */
                                                                                 /* 0x001fc000fe2007f3 */
        /*04a8*/                   DEPBAR.LE SB5, 0x6 ;                          /* 0xf0f0000034670000 */
        /*04b0*/                   LDG.E.S8 R22, [R2+0x15] ;                     /* 0xeed1200001570216 */
        /*04b8*/                   XMAD.S16.S16 R23, R20, R17, R26 ;             /* 0x5b030d0001171417 */
                                                                                 /* 0x001fc000fc2007b1 */
        /*04c8*/                   LDG.E.U16 R21, [R4+0x2a] ;                    /* 0xeed2200002a70415 */
        /*04d0*/                   BFE R25, R28, 0x800 ;                         /* 0x3801000080071c19 */
        /*04d8*/                   LOP32I.AND R20, R19, 0xffff ;                 /* 0x0400000ffff71314 */
                                                                                 /* 0x001fc000fc6007f1 */
        /*04e8*/                   LDG.E.S8 R19, [R2+0x16] ;                     /* 0xeed1200001670213 */
        /*04f0*/                   LOP32I.AND R17, R17, 0xffff ;                 /* 0x0400000ffff71111 */
        /*04f8*/                   XMAD.S16.S16 R23, R18, R12, R23 ;             /* 0x5b030b8000c71217 */
                                                                                 /* 0x001fc000fc2007b1 */
        /*0508*/                   LDG.E.U16 R18, [R4+0x2c] ;                    /* 0xeed2200002c70412 */
        /*0510*/                   IADD3 R27, R25, R27, R24 ;                    /* 0x5cc00c0001b7191b */
        /*0518*/                   LOP32I.AND R26, R12, 0xffff ;                 /* 0x0400000ffff70c1a */
                                                                                 /* 0x001fc000fe2007f1 */
        /*0528*/                   LDG.E.U16 R12, [R4+0x2e] ;                    /* 0xeed2200002e7040c */
        /*0530*/                   BFE R20, R20, 0x800 ;                         /* 0x3801000080071414 */
        /*0538*/                   BFE R25, R17, 0x800 ;                         /* 0x3801000080071119 */
                                                                                 /* 0x001fc000fe6007b1 */
        /*0548*/                   LDG.E.S8 R17, [R2+0x17] ;                     /* 0xeed1200001770211 */
        /*0550*/                   DEPBAR.LE SB5, 0x7 ;                          /* 0xf0f0000034770000 */
        /*0558*/                   XMAD.S16.S16 R28, R10, R9, R23 ;              /* 0x5b030b8000970a1c */
                                                                                 /* 0x001fc400fc2007f1 */
        /*0568*/                   LDG.E.S8 R10, [R2+0x18] ;                     /* 0xeed120000187020a */
        /*0570*/                   LOP32I.AND R9, R9, 0xffff ;                   /* 0x0400000ffff70909 */
        /*0578*/                   BFE R26, R26, 0x800 ;                         /* 0x3801000080071a1a */
                                                                                 /* 0x001fc000f68007f0 */
        /*0588*/                   IADD3 R24, R25, R27, R20 ;                    /* 0x5cc00a0001b71918 */
        /*0590*/                   LDG.E.U16 R20, [R4+0x30] ;                    /* 0xeed2200003070414 */
        /*0598*/                   BFE R23, R9, 0x800 ;                          /* 0x3801000080070917 */
                                                                                 /* 0x001fc400fe0007f1 */
        /*05a8*/                   LDG.E.S8 R9, [R2+0x1a] ;                      /* 0xeed1200001a70209 */
        /*05b0*/                   XMAD.S16.S16 R25, R11, R6, R28 ;              /* 0x5b030e0000670b19 */
        /*05b8*/                   LDG.E.S8 R11, [R2+0x19] ;                     /* 0xeed120000197020b */
                                                                                 /* 0x001fc000f68007f0 */
        /*05c8*/                   LOP32I.AND R27, R6, 0xffff ;                  /* 0x0400000ffff7061b */
        /*05d0*/                   LDG.E.U16 R6, [R4+0x32] ;                     /* 0xeed2200003270406 */
        /*05d8*/                   IADD3 R24, R23, R24, R26 ;                    /* 0x5cc00d0001871718 */
                                                                                 /* 0x001f8400fe2007f3 */
        /*05e8*/                   DEPBAR.LE SB5, 0x7 ;                          /* 0xf0f0000034770000 */
        /*05f0*/                   LDG.E.U16 R26, [R4+0x36] ;                    /* 0xeed220000367041a */
        /*05f8*/                   LOP32I.AND R23, R8, 0xffff ;                  /* 0x0400000ffff70817 */
                                                                                 /* 0x001fc000fea007f0 */
        /*0608*/                   XMAD.S16.S16 R28, R7, R8, R25 ;               /* 0x5b030c800087071c */
        /*0610*/                   LDG.E.S8 R8, [R2+0x1b] ;                      /* 0xeed1200001b70208 */
        /*0618*/                   BFE R25, R23, 0x800 ;                         /* 0x3801000080071719 */
                                                                                 /* 0x001ed800fe0007b1 */
        /*0628*/                   LDG.E.U16 R23, [R4+0x34] ;                    /* 0xeed2200003470417 */
        /*0630*/                   BFE R27, R27, 0x800 ;                         /* 0x3801000080071b1b */
        /*0638*/                   LDG.E.S8 R7, [R2+0x1c] ;                      /* 0xeed1200001c70207 */
                                                                                 /* 0x001fc400f62007f0 */
        /*0648*/                   IADD3 R24, R25, R24, R27 ;                    /* 0x5cc00d8001871918 */
        /*0650*/                   LDG.E.S8 R25, [R2+0x1d] ;                     /* 0xeed1200001d70219 */
        /*0658*/                   LDG.E.U16 R27, [R4+0x3a] ;                    /* 0xeed2200003a7041b */
                                                                                 /* 0x0002d800fe0007f3 */
        /*0668*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
        /*0670*/                   XMAD.S16.S16 R29, R14, R13, R28 ;             /* 0x5b030e0000d70e1d */
        /*0678*/                   LDG.E.S8 R14, [R2+0x1e] ;                     /* 0xeed1200001e7020e */
                                                                                 /* 0x001fc000f62007f0 */
        /*0688*/                   XMAD.S16.S16 R31, R15, R16, R29 ;             /* 0x5b030e8001070f1f */
        /*0690*/                   LDG.E.U16 R28, [R4+0x38] ;                    /* 0xeed220000387041c */
        /*0698*/                   LOP32I.AND R16, R16, 0xffff ;                 /* 0x0400000ffff71010 */
                                                                                 /* 0x0006d800fe0007b1 */
        /*06a8*/                   LDG.E.U16 R15, [R4+0x3c] ;                    /* 0xeed2200003c7040f */
        /*06b0*/                   LOP32I.AND R13, R13, 0xffff ;                 /* 0x0400000ffff70d0d */
        /*06b8*/                   LDG.E.U16 R29, [R4+0x3e] ;                    /* 0xeed2200003e7041d */
                                                                                 /* 0x001f9800fe6007e1 */
        /*06c8*/                   BFE R13, R13, 0x800 ;                         /* 0x3801000080070d0d */
        /*06d0*/                   DEPBAR.LE SB5, 0xa ;                          /* 0xf0f0000034a70000 */
        /*06d8*/                   XMAD.S16.S16 R21, R21, R22, R31 ;             /* 0x5b030f8001671515 */
                                                                                 /* 0x001fcc00fe0007f1 */
        /*06e8*/                   XMAD.S16.S16 R18, R18, R19, R21 ;             /* 0x5b030a8001371212 */
        /*06f0*/                   BFE R31, R16, 0x800 ;                         /* 0x380100008007101f */
        /*06f8*/                   DEPBAR.LE SB5, 0x8 ;                          /* 0xf0f0000034870000 */
                                                                                 /* 0x001f8400fc200fe2 */
        /*0708*/                   LOP32I.AND R2, R17, 0xffff ;                  /* 0x0400000ffff71102 */
        /*0710*/                   XMAD.S16.S16 R17, R12, R17, R18 ;             /* 0x5b03090001170c11 */
        /*0718*/                   LOP32I.AND R22, R22, 0xffff ;                 /* 0x0400000ffff71616 */
                                                                                 /* 0x001f8400fe2007e4 */
        /*0728*/                   LOP32I.AND R16, R19, 0xffff ;                 /* 0x0400000ffff71310 */
        /*0730*/                   XMAD.S16.S16 R17, R20, R10, R17 ;             /* 0x5b03088000a71411 */
        /*0738*/                   IADD3 R13, R31, R24, R13 ;                    /* 0x5cc0068001871f0d */
                                                                                 /* 0x001fc000fe2007f1 */
        /*0748*/                   LOP32I.AND R3, R10, 0xffff ;                  /* 0x0400000ffff70a03 */
        /*0750*/                   BFE R22, R22, 0x800 ;                         /* 0x3801000080071616 */
        /*0758*/                   BFE R16, R16, 0x800 ;                         /* 0x3801000080071010 */
                                                                                 /* 0x001f8400fe2007f3 */
        /*0768*/                   DEPBAR.LE SB5, 0x6 ;                          /* 0xf0f0000034670000 */
        /*0770*/                   XMAD.S16.S16 R6, R6, R11, R17 ;               /* 0x5b03088000b70606 */
        /*0778*/                   BFE R2, R2, 0x800 ;                           /* 0x3801000080070202 */
                                                                                 /* 0x001fc400fc2017f1 */
        /*0788*/                   LOP32I.AND R4, R11, 0xffff ;                  /* 0x0400000ffff70b04 */
        /*0790*/                   BFE R3, R3, 0x800 ;                           /* 0x3801000080070303 */
        /*0798*/                   LOP32I.AND R5, R9, 0xffff ;                   /* 0x0400000ffff70905 */
                                                                                 /* 0x001fc000fe4007e1 */
        /*07a8*/                   IADD3 R13, R16, R13, R22 ;                    /* 0x5cc00b0000d7100d */
        /*07b0*/                   XMAD.S16.S16 R23, R23, R9, R6 ;               /* 0x5b03030000971717 */
        /*07b8*/                   BFE R4, R4, 0x800 ;                           /* 0x3801000080070404 */
                                                                                 /* 0x001f8400fe2007f3 */
        /*07c8*/                   DEPBAR.LE SB5, 0x5 ;                          /* 0xf0f0000034570000 */
        /*07d0*/                   LOP32I.AND R10, R7, 0xffff ;                  /* 0x0400000ffff7070a */
        /*07d8*/                   IADD3 R2, R3, R13, R2 ;                       /* 0x5cc0010000d70302 */
                                                                                 /* 0x001fd000fc2007f1 */
        /*07e8*/                   LOP32I.AND R3, R8, 0xffff ;                   /* 0x0400000ffff70803 */
        /*07f0*/                   BFE R5, R5, 0x800 ;                           /* 0x3801000080070505 */
        /*07f8*/                   XMAD.S16.S16 R26, R26, R8, R23 ;              /* 0x5b030b8000871a1a */
                                                                                 /* 0x001fcc00fe0007f1 */
        /*0808*/                   BFE R3, R3, 0x800 ;                           /* 0x3801000080070303 */
        /*0810*/                   IADD3 R2, R5, R2, R4 ;                        /* 0x5cc0020000270502 */
        /*0818*/                   DEPBAR.LE SB5, 0x4 ;                          /* 0xf0f0000034470000 */
                                                                                 /* 0x001f8400fea007f1 */
        /*0828*/                   LOP32I.AND R5, R25, 0xffff ;                  /* 0x0400000ffff71905 */
        /*0830*/                   BFE R4, R10, 0x800 ;                          /* 0x3801000080070a04 */
        /*0838*/                   BFE R5, R5, 0x800 ;                           /* 0x3801000080070505 */
                                                                                 /* 0x001f8400fec007e1 */
        /*0848*/                   IADD3 R2, R4, R2, R3 ;                        /* 0x5cc0018000270402 */
        /*0850*/                   LOP32I.AND R4, R30, 0xffff ;                  /* 0x0400000ffff71e04 */
        /*0858*/                   BFE R4, R4, 0x800 ;                           /* 0x3801000080070404 */
                                                                                 /* 0x001fd400fc2007f3 */
        /*0868*/                   DEPBAR.LE SB5, 0x2 ;                          /* 0xf0f0000034270000 */
        /*0870*/                   LOP32I.AND R6, R14, 0xffff ;                  /* 0x0400000ffff70e06 */
        /*0878*/                   XMAD.S16.S16 R26, R28, R7, R26 ;              /* 0x5b030d0000771c1a */
                                                                                 /* 0x001f8400fea007e1 */
        /*0888*/                   BFE R3, R6, 0x800 ;                           /* 0x3801000080070603 */
        /*0890*/                   XMAD.S16.S16 R25, R27, R25, R26 ;             /* 0x5b030d0001971b19 */
        /*0898*/                   IADD3 R2, R3, R2, R5 ;                        /* 0x5cc0028000270302 */
                                                                                 /* 0x001fd800fc2107e5 */
        /*08a8*/                   XMAD.S16.S16 R15, R15, R14, R25 ;             /* 0x5b030c8000e70f0f */
        /*08b0*/                   IADD R2, R2, R4 ;                             /* 0x5c10000000470202 */
        /*08b8*/                   XMAD.S16.S16 R15, R29, R30, R15 ;             /* 0x5b03078001e71d0f */
                                                                                 /* 0x081fc400fe2007e6 */
        /*08c8*/                   ISCADD R15, -R2, R15, 0xb ;                   /* 0x5c1a058000f7020f */
        /*08d0*/                   IADD32I R15, R15, 0x700 ;                     /* 0x1c00000070070f0f */
        /*08d8*/                   SHR R3, R0.reuse, 0x1d ;                      /* 0x3829000001d70003 */
                                                                                 /* 0x001f8440fe2007e4 */
        /*08e8*/                   ISCADD R2.CC, R0, c[0x0][0x150], 0x3 ;        /* 0x4c18818005470002 */
        /*08f0*/                   LOP32I.AND R0, R15.reuse, 0xfff ;             /* 0x04000000fff70f00 */
        /*08f8*/                   SHR R5, R15, 0xc ;                            /* 0x3829000000c70f05 */
                                                                                 /* 0x001fc800fc4007e4 */
        /*0908*/                   IADD.X R3, R3, c[0x0][0x154] ;                /* 0x4c10080005570303 */
        /*0910*/                   IADD32I R4, R0, -0x700 ;                      /* 0x1c0fffff90070004 */
        /*0918*/                   STG.E.64 [R2], R4 ;                           /* 0xeedd200000070204 */
                                                                                 /* 0x001f8000ffe007ff */
        /*0928*/                   EXIT ;                                        /* 0xe30000000007000f */
        /*0930*/                   BRA 0x930 ;                                   /* 0xe2400fffff87000f */
        /*0938*/                   NOP;                                          /* 0x50b0000000070f00 */
		..........


