
	code for sm_60
		Function : probe_one_multiply
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0xf0c8000002570000 */
        /*0018*/                   S2R R2, SR_TID.X ;                            /* 0xf0c8000002170002 */
                                                                                 /* 0x001fd802fcc00fe1 */
        /*0028*/                   XMAD.MRG R3, R0, c[0x0] [0x8].H1, RZ ;        /* 0x4f107f8000270003 */
        /*0030*/                   XMAD R2, R0, c[0x0] [0x8], R2 ;               /* 0x4e00010000270002 */
        /*0038*/                   XMAD.PSL.CBCC R0, R0.H1, R3.H1, R2 ;          /* 0x5b30011800370000 */
                                                                                 /* 0x001f9800fca207f1 */
        /*0048*/                   SHL R2, R0.reuse, 0x2 ;                       /* 0x3848000000270002 */
        /*0050*/                   SHR R3, R0, 0x1e ;                            /* 0x3829000001e70003 */
        /*0058*/                   IADD R4.CC, R2, c[0x0][0x140] ;               /* 0x4c10800005070204 */
                                                                                 /* 0x001fd800fe0007e2 */
        /*0068*/                   IADD.X R5, R3, c[0x0][0x144] ;                /* 0x4c10080005170305 */
        /*0070*/                   IADD R6.CC, R2, c[0x0][0x148] ;               /* 0x4c10800005270206 */
        /*0078*/                   LDG.E R4, [R4] ;                              /* 0xeed4200000070404 */
                                                                                 /* 0x001f9800f62007e2 */
        /*0088*/                   IADD.X R7, R3, c[0x0][0x14c] ;                /* 0x4c10080005370307 */
        /*0090*/                   LDG.E R6, [R6] ;                              /* 0xeed4200000070606 */
        /*0098*/                   IADD R2.CC, R2, c[0x0][0x150] ;               /* 0x4c10800005470202 */
                                                                                 /* 0x081fc400f62007e2 */
        /*00a8*/                   IADD.X R3, R3, c[0x0][0x154] ;                /* 0x4c10080005570303 */
        /*00b0*/                   LDG.E R9, [R2] ;                              /* 0xeed4200000070209 */
        /*00b8*/                   SHL R12, R0.reuse, 0x3 ;                      /* 0x384800000037000c */
                                                                                 /* 0x001fcc00fda007e5 */
        /*00c8*/                   SHR R14, R0, 0x1d ;                           /* 0x3829000001d7000e */
        /*00d0*/                   IADD R8.CC, R12, c[0x0][0x158] ;              /* 0x4c10800005670c08 */
        /*00d8*/                   DEPBAR.LE SB5, 0x1 ;                          /* 0xf0f0000034170000 */
                                                                                 /* 0x003fc401e3a00712 */
        /*00e8*/                   HMUL2 R5, R4, R6 ;                            /* 0x5d08000000670405 */
        /*00f0*/                   F2I.S32.F16 R10, R5 ;                         /* 0x5cb000000057160a */
        /*00f8*/                   IADD32I R11, R10, 0x3f ;                      /* 0x1c00000003f70a0b */
                                                                                 /* 0x001fd400fc2107e5 */
        /*0108*/                   IADD3 R0, R9, 0x4, -R10 ;                     /* 0x38c2050000470900 */
        /*0110*/                   LOP32I.AND R4, R11, 0xffffff80 ;              /* 0x040ffffff8070b04 */
        /*0118*/                   LOP32I.AND R0, R0, 0x7 ;                      /* 0x0400000000770000 */
                                                                                 /* 0x001f9000fe2007e1 */
        /*0128*/                   IADD3 R10, -R4, 0xffffc, R10 ;                /* 0x39c8057fffc7040a */
        /*0130*/                   IADD.X R9, R14, c[0x0][0x15c] ;               /* 0x4c10080005770e09 */
        /*0138*/                   SHR R11, R11, 0x7 ;                           /* 0x3829000000770b0b */
                                                                                 /* 0x001fc000064007f0 */
        /*0148*/                   IADD R10, R0, R10 ;                           /* 0x5c10000000a7000a */
        /*0150*/                   F2I.S32.F16 R0, R5.H1 ;                       /* 0x5cb0020000571600 */
        /*0158*/                   IADD R4.CC, R12, c[0x0][0x160] ;              /* 0x4c10800005870c04 */
                                                                                 /* 0x001ec401fe0002f6 */
        /*0168*/                   STG.E.64 [R8], R10 ;                          /* 0xeedd20000007080a */
        /*0170*/                   IADD.X R5, R14, c[0x0][0x164] ;               /* 0x4c10080005970e05 */
        /*0178*/                   LDG.E R2, [R2] ;                              /* 0xeed4200000070202 */
                                                                                 /* 0x001ff400fca017e1 */
        /*0188*/                   IADD32I R6, R0, 0x3f ;                        /* 0x1c00000003f70006 */
        /*0190*/                   IADD32I R7, -R0, 0x4 ;                        /* 0x1d00000000470007 */
        /*0198*/                   LOP32I.AND R13, R6, 0xffffff80 ;              /* 0x040ffffff807060d */
                                                                                 /* 0x041f9804fe2007f1 */
        /*01a8*/                   IADD3 R13, -R13, 0xffffc, R0 ;                /* 0x39c8007fffc70d0d */
        /*01b0*/                   SHR R11, R6, 0x7 ;                            /* 0x382900000077060b */
        /*01b8*/                   LEA.HI R7, R2, R7, RZ, 0x18 ;                 /* 0x5bdf7f8180770207 */
                                                                                 /* 0x001fc400fc4007e6 */
        /*01c8*/                   LOP32I.AND R7, R7, 0x7 ;                      /* 0x0400000000770707 */
        /*01d0*/                   IADD R10, R7, R13 ;                           /* 0x5c10000000d7070a */
        /*01d8*/                   STG.E.64 [R4], R10 ;                          /* 0xeedd20000007040a */
                                                                                 /* 0x001f8000ffe007ff */
        /*01e8*/                   EXIT ;                                        /* 0xe30000000007000f */
        /*01f0*/                   BRA 0x1f0 ;                                   /* 0xe2400fffff87000f */
        /*01f8*/                   NOP;                                          /* 0x50b0000000070f00 */
		..........


		Function : probe_prmt
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0xf0c8000002570000 */
        /*0018*/                   S2R R2, SR_TID.X ;                            /* 0xf0c8000002170002 */
                                                                                 /* 0x001fd842fec20ff1 */
        /*0028*/                   XMAD.MRG R3, R0.reuse, c[0x0] [0x8].H1, RZ ;  /* 0x4f107f8000270003 */
        /*0030*/                   XMAD R2, R0.reuse, c[0x0] [0x8], R2 ;         /* 0x4e00010000270002 */
        /*0038*/                   XMAD.PSL.CBCC R0, R0.H1, R3.H1, R2 ;          /* 0x5b30011800370000 */
                                                                                 /* 0x081fd800fca207f1 */
        /*0048*/                   SHL R8, R0.reuse, 0x2 ;                       /* 0x3848000000270008 */
        /*0050*/                   SHR R0, R0, 0x1e ;                            /* 0x3829000001e70000 */
        /*0058*/                   IADD R2.CC, R8.reuse, c[0x0][0x140] ;         /* 0x4c10800005070802 */
                                                                                 /* 0x001fd840fe0207f2 */
        /*0068*/                   IADD.X R3, R0.reuse, c[0x0][0x144] ;          /* 0x4c10080005170003 */
        /*0070*/                   IADD R6.CC, R8.reuse, c[0x0][0x150] ;         /* 0x4c10800005470806 */
        /*0078*/                   LDG.E R2, [R2] ;                              /* 0xeed4200000070202 */
                                                                                 /* 0x001ed800fe0207f2 */
        /*0088*/                   IADD.X R7, R0.reuse, c[0x0][0x154] ;          /* 0x4c10080005570007 */
        /*0090*/                   IADD R4.CC, R8, c[0x0][0x148] ;               /* 0x4c10800005270804 */
        /*0098*/                   LDG.E R6, [R6] ;                              /* 0xeed4200000070606 */
                                                                                 /* 0x001fd800f62007e2 */
        /*00a8*/                   IADD.X R5, R0, c[0x0][0x14c] ;                /* 0x4c10080005370005 */
        /*00b0*/                   LDG.E R4, [R4] ;                              /* 0xeed4200000070404 */
        /*00b8*/                   IADD R8.CC, R8, c[0x0][0x158] ;               /* 0x4c10800005670808 */
                                                                                 /* 0x001fc820fec007f7 */
        /*00c8*/                   IADD.X R9, R0, c[0x0][0x15c] ;                /* 0x4c10080005770009 */
        /*00d0*/                   LOP32I.AND R11, R6, 0x7777 ;                  /* 0x040000077777060b */
        /*00d8*/                   PRMT R11, R2, R11, R4 ;                       /* 0x5bc0020000b7020b */
                                                                                 /* 0x001ffc00ffe007f1 */
        /*00e8*/                   STG.E [R8], R11 ;                             /* 0xeedc20000007080b */
        /*00f0*/                   EXIT ;                                        /* 0xe30000000007000f */
        /*00f8*/                   BRA 0xf8 ;                                    /* 0xe2400fffff87000f */
		..........


		Function : probe_plain_mac
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0xf0c8000002570000 */
        /*0018*/                   S2R R2, SR_TID.X ;                            /* 0xf0c8000002170002 */
                                                                                 /* 0x001fd842fec20ff1 */
        /*0028*/                   XMAD.MRG R3, R0.reuse, c[0x0] [0x8].H1, RZ ;  /* 0x4f107f8000270003 */
        /*0030*/                   XMAD R2, R0.reuse, c[0x0] [0x8], R2 ;         /* 0x4e00010000270002 */
        /*0038*/                   XMAD.PSL.CBCC R0, R0.H1, R3.H1, R2 ;          /* 0x5b30011800370000 */
                                                                                 /* 0x081fd800fca207f1 */
        /*0048*/                   SHL R14, R0.reuse, 0x2 ;                      /* 0x384800000027000e */
        /*0050*/                   SHR R0, R0, 0x1e ;                            /* 0x3829000001e70000 */
        /*0058*/                   IADD R2.CC, R14.reuse, c[0x0][0x158] ;        /* 0x4c10800005670e02 */
                                                                                 /* 0x001fd840fe0207f2 */
        /*0068*/                   IADD.X R3, R0.reuse, c[0x0][0x15c] ;          /* 0x4c10080005770003 */
        /*0070*/                   IADD R6.CC, R14.reuse, c[0x0][0x140] ;        /* 0x4c10800005070e06 */
        /*0078*/                   LDG.E R2, [R2] ;                              /* 0xeed4200000070202 */
                                                                                 /* 0x001fd800fe0207f2 */
        /*0088*/                   IADD.X R7, R0.reuse, c[0x0][0x144] ;          /* 0x4c10080005170007 */
        /*0090*/                   IADD R10.CC, R14, c[0x0][0x150] ;             /* 0x4c10800005470e0a */
        /*0098*/                   LDG.E R7, [R6] ;                              /* 0xeed4200000070607 */
                                                                                 /* 0x001ed840fe0007e2 */
        /*00a8*/                   IADD.X R11, R0, c[0x0][0x154] ;               /* 0x4c1008000557000b */
        /*00b0*/                   IADD R4.CC, R14.reuse, c[0x0][0x160] ;        /* 0x4c10800005870e04 */
        /*00b8*/                   LDG.E R10, [R10] ;                            /* 0xeed4200000070a0a */
                                                                                 /* 0x001fd840fe0207f2 */
        /*00c8*/                   IADD.X R5, R0.reuse, c[0x0][0x164] ;          /* 0x4c10080005970005 */
        /*00d0*/                   IADD R8.CC, R14.reuse, c[0x0][0x148] ;        /* 0x4c10800005270e08 */
        /*00d8*/                   LDG.E R4, [R4] ;                              /* 0xeed4200000070404 */
                                                                                 /* 0x001f9800f62007f2 */
        /*00e8*/                   IADD.X R9, R0, c[0x0][0x14c] ;                /* 0x4c10080005370009 */
        /*00f0*/                   LDG.E R9, [R8] ;                              /* 0xeed4200000070809 */
        /*00f8*/                   IADD R12.CC, R14, c[0x0][0x168] ;             /* 0x4c10800005a70e0c */
                                                                                 /* 0x001fdc00fec207f1 */
        /*0108*/                   IADD.X R13, R0.reuse, c[0x0][0x16c] ;         /* 0x4c10080005b7000d */
        /*0110*/                   IADD R14.CC, R14, c[0x0][0x170] ;             /* 0x4c10800005c70e0e */
        /*0118*/                   IADD.X R15, R0, c[0x0][0x174] ;               /* 0x4c10080005d7000f */
                                                                                 /* 0x003fc480e24007f3 */
        /*0128*/                   DEPBAR.LE SB5, 0x1 ;                          /* 0xf0f0000034170000 */
        /*0130*/                   HFMA2 R17, R7, R10.reuse, R2 ;                /* 0x5d00010000a70711 */
        /*0138*/                   STG.E [R12], R17 ;                            /* 0xeedc200000070c11 */
                                                                                 /* 0x001ffc01fe210702 */
        /*0148*/                   HFMA2 R0, R9, R10, R4 ;                       /* 0x5d00020000a70900 */
        /*0150*/                   STG.E [R14], R0 ;                             /* 0xeedc200000070e00 */
        /*0158*/                   EXIT ;                                        /* 0xe30000000007000f */
                                                                                 /* 0x001f8000fc0007ff */
        /*0168*/                   BRA 0x160 ;                                   /* 0xe2400fffff07000f */
        /*0170*/                   NOP;                                          /* 0x50b0000000070f00 */
        /*0178*/                   NOP;                                          /* 0x50b0000000070f00 */
		..........


		Function : probe_split_mac
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0xf0c8000002570000 */
        /*0018*/                   S2R R2, SR_TID.X ;                            /* 0xf0c8000002170002 */
                                                                                 /* 0x001fd842fec20ff1 */
        /*0028*/                   XMAD.MRG R3, R0.reuse, c[0x0] [0x8].H1, RZ ;  /* 0x4f107f8000270003 */
        /*0030*/                   XMAD R2, R0.reuse, c[0x0] [0x8], R2 ;         /* 0x4e00010000270002 */
        /*0038*/                   XMAD.PSL.CBCC R0, R0.H1, R3.H1, R2 ;          /* 0x5b30011800370000 */
                                                                                 /* 0x081fd800fca207f1 */
        /*0048*/                   SHL R12, R0.reuse, 0x2 ;                      /* 0x384800000027000c */
        /*0050*/                   SHR R13, R0, 0x1e ;                           /* 0x3829000001e7000d */
        /*0058*/                   IADD R6.CC, R12.reuse, c[0x0][0x140] ;        /* 0x4c10800005070c06 */
                                                                                 /* 0x0003d840fe0207f2 */
        /*0068*/                   IADD.X R7, R13.reuse, c[0x0][0x144] ;         /* 0x4c10080005170d07 */
        /*0070*/                   IADD R8.CC, R12.reuse, c[0x0][0x148] ;        /* 0x4c10800005270c08 */
        /*0078*/                   LDG.E R7, [R6] ;                              /* 0xeed4200000070607 */
                                                                                 /* 0x001ed800fe0207f2 */
        /*0088*/                   IADD.X R9, R13.reuse, c[0x0][0x14c] ;         /* 0x4c10080005370d09 */
        /*0090*/                   IADD R2.CC, R12, c[0x0][0x150] ;              /* 0x4c10800005470c02 */
        /*0098*/                   LDG.E R8, [R8] ;                              /* 0xeed4200000070808 */
                                                                                 /* 0x0007d840fe0007e2 */
        /*00a8*/                   IADD.X R3, R13, c[0x0][0x154] ;               /* 0x4c10080005570d03 */
        /*00b0*/                   IADD R4.CC, R12.reuse, c[0x0][0x158] ;        /* 0x4c10800005670c04 */
        /*00b8*/                   LDG.E R2, [R2] ;                              /* 0xeed4200000070202 */
                                                                                 /* 0x081fd800f62207f2 */
        /*00c8*/                   IADD.X R5, R13.reuse, c[0x0][0x15c] ;         /* 0x4c10080005770d05 */
        /*00d0*/                   LDG.E R4, [R4] ;                              /* 0xeed4200000070404 */
        /*00d8*/                   IADD R10.CC, R12.reuse, c[0x0][0x160] ;       /* 0x4c10800005870c0a */
                                                                                 /* 0x001fcc01fda007f1 */
        /*00e8*/                   IADD.X R11, R13, c[0x0][0x164] ;              /* 0x4c10080005970d0b */
        /*00f0*/                   IADD R6.CC, R12, c[0x0][0x168] ;              /* 0x4c10800005a70c06 */
        /*00f8*/                   DEPBAR.LE SB5, 0x1 ;                          /* 0xf0f0000034170000 */
                                                                                 /* 0x2020c802e2c00726 */
        /*0108*/                   HFMA2 R0, R7, R8, c[0x2][0x0] ;               /* 0x6080040800070700 */
        /*0110*/                   HADD2 R3, R0, -1536, -1536 ;                  /* 0x7b00006639870003 */
        /*0118*/                   HFMA2 R8, R7, R8, -R3.reuse ;                 /* 0x5d00018040870708 */
                                                                                 /* 0x005cc820e2600ff1 */
        /*0128*/                   IADD.X R7, R13, c[0x0][0x16c] ;               /* 0x4c10080005b70d07 */
        /*0130*/                   HADD2 R0, R4, R3 ;                            /* 0x5d10000000370400 */
        /*0138*/                   HADD2 R8, R2, R8 ;                            /* 0x5d10000000870208 */
                                                                                 /* 0x001ffc01fe2017f1 */
        /*0148*/                   STG.E [R10], R8 ;                             /* 0xeedc200000070a08 */
        /*0150*/                   STG.E [R6], R0 ;                              /* 0xeedc200000070600 */
        /*0158*/                   EXIT ;                                        /* 0xe30000000007000f */
                                                                                 /* 0x001f8000fc0007ff */
        /*0168*/                   BRA 0x160 ;                                   /* 0xe2400fffff07000f */
        /*0170*/                   NOP;                                          /* 0x50b0000000070f00 */
        /*0178*/                   NOP;                                          /* 0x50b0000000070f00 */
		..........


		Function : probe_split
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM60 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM60)"
                                                                                 /* 0x001cfc00e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                        /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0xf0c8000002570000 */
        /*0018*/                   S2R R2, SR_TID.X ;                            /* 0xf0c8000002170002 */
                                                                                 /* 0x001fd842fec20ff1 */
        /*0028*/                   XMAD.MRG R3, R0.reuse, c[0x0] [0x8].H1, RZ ;  /* 0x4f107f8000270003 */
        /*0030*/                   XMAD R2, R0.reuse, c[0x0] [0x8], R2 ;         /* 0x4e00010000270002 */
        /*0038*/                   XMAD.PSL.CBCC R0, R0.H1, R3.H1, R2 ;          /* 0x5b30011800370000 */
                                                                                 /* 0x081fd800fca207f1 */
        /*0048*/                   SHL R8, R0.reuse, 0x2 ;                       /* 0x3848000000270008 */
        /*0050*/                   SHR R9, R0, 0x1e ;                            /* 0x3829000001e70009 */
        /*0058*/                   IADD R2.CC, R8.reuse, c[0x0][0x140] ;         /* 0x4c10800005070802 */
                                                                                 /* 0x001fd840fe0207f2 */
        /*0068*/                   IADD.X R3, R9.reuse, c[0x0][0x144] ;          /* 0x4c10080005170903 */
        /*0070*/                   IADD R4.CC, R8.reuse, c[0x0][0x148] ;         /* 0x4c10800005270804 */
        /*0078*/                   LDG.E R2, [R2] ;                              /* 0xeed4200000070202 */
                                                                                 /* 0x001f9800f62007f2 */
        /*0088*/                   IADD.X R5, R9, c[0x0][0x14c] ;                /* 0x4c10080005370905 */
        /*0090*/                   LDG.E R4, [R4] ;                              /* 0xeed4200000070404 */
        /*0098*/                   IADD R6.CC, R8, c[0x0][0x150] ;               /* 0x4c10800005470806 */
                                                                                 /* 0x001fdc00fec207f1 */
        /*00a8*/                   IADD.X R7, R9.reuse, c[0x0][0x154] ;          /* 0x4c10080005570907 */
        /*00b0*/                   IADD R8.CC, R8, c[0x0][0x158] ;               /* 0x4c10800005670808 */
        /*00b8*/                   IADD.X R9, R9, c[0x0][0x15c] ;                /* 0x4c10080005770909 */
                                                                                 /* 0x003c0801e2c70716 */
        /*00c8*/                   HFMA2 R0, R2.reuse, R4.reuse, c[0x2][0x0] ;   /* 0x6080020800070200 */
        /*00d0*/                   HADD2 R0, R0, -1536, -1536 ;                  /* 0x7b00006639870000 */
        /*00d8*/                   HFMA2 R11, R2, R4, -R0 ;                      /* 0x5d0000004047020b */
                                                                                 /* 0x001ffc00fe200ff1 */
        /*00e8*/                   STG.E [R6], R11 ;                             /* 0xeedc20000007060b */
        /*00f0*/                   STG.E [R8], R0 ;                              /* 0xeedc200000070800 */
        /*00f8*/                   EXIT ;                                        /* 0xe30000000007000f */
                                                                                 /* 0x001f8000fc0007ff */
        /*0108*/                   BRA 0x100 ;                                   /* 0xe2400fffff07000f */
        /*0110*/                   NOP;                                          /* 0x50b0000000070f00 */
        /*0118*/                   NOP;                                          /* 0x50b0000000070f00 */
                                                                                 /* 0x001f8000fc0007e0 */
        /*0128*/                   NOP;                                          /* 0x50b0000000070f00 */
        /*0130*/                   NOP;                                          /* 0x50b0000000070f00 */
        /*0138*/                   NOP;                                          /* 0x50b0000000070f00 */
		..........


